.btn {
  padding-right: 12px;
  font-size: 11px;
  line-height: 20px;
  font-weight: 600;
}

.btnIcon {
  width: 16px;
  height: 16px;
}

.row {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 32px;

  &.editingMode {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.label {
  width: 160px;

  flex-shrink: 0;

  color: rgba(0, 0, 0, 0.5);
}

.inputsGroup {
  display: flex;
  align-items: center;
  gap: 12px;
}

.additionalLabel {
  color: rgba(0, 0, 0, 0.5);
}

