.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.filled {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgba(59, 59, 59, 1);

  &:hover {
    background-color: rgba(83, 83, 83, 1);
  }

  &:active {
    background-color: rgba(107, 107, 107, 1);
  }
}

.outline {
  color: rgba(59, 59, 59, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;

  &:hover {
    color: rgba(109, 74, 255, 1);
    border-color: rgba(0, 0, 0, 0.4);
  }

  &:active {
    color: rgba(98, 67, 230, 1);
    border-color: rgba(98, 67, 230, 1);
  }
}

.ghost {
  padding: 6px;
  color: rgba(59, 59, 59, 1); 
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background-color: rgba(59, 59, 59, 0.05);
  }

  &:active {
    background-color: rgba(153, 129, 255, 0.2);
  }
}

.primary {
  padding: 10px 12px;
}

.small {
  padding: 6px 8px;
}

.square {
  padding: 8px;
}