.container {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.title {
  font-size: 28px;
  font-weight: 500;
}