.container {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.navBtn {
  position: absolute;
  left: -76px;
  top: 0;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  align-items: center;
}

.removeBtn {
  color: rgba(215, 35, 35, 1);
}

.footer {
  height: 40px;
}

.modalActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  margin-top: 24px;
}

.modalBtn {
  width: 100%;
  
  font-weight: 600;
}