.wrapper {
  position: relative;

  width: 100%;
  max-width: 420px;

  font-size: 14px;
}

.trigger {
  padding: 10px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  transition: border 0.2s ease;
  cursor: pointer;
}

.trigger:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.trigger.focused {
  outline: none;
  border: 2px solid rgba(53, 205, 253, 1);
}

.value {
  color: rgba(0, 0, 0, 0.8);
}

.arrow {
  transform: rotate(-90deg);
  transition: transform 0.2s ease;
}

.arrow.rotated {
  transform: rotate(90deg);
}

.dropdown {
  position: absolute;
  width: 100%;
  
  margin-top: 4px;
  padding: 0;
  padding-top: 8px;

  background-color: rgba(255, 255, 255, 1);
  
  border-radius: 8px;
  list-style: none;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

.option {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.option.selected {
  background-color: #f3f3f3;
}

.option.selected .optionLabel {
  font-weight: 500; 
}

.checkboxBox {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.checkboxCheck {
  width: 16px;
  height: 16px;

  color: rgba(0, 0, 0, 0.8);
}

.optionLabel {
  font-size: 13px;
}
