.sidebar {
  display: flex;
  height: 100vh; 

  background-color: rgba(0, 0, 0, 0.03);
}

.navbar {
  width: 48px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6px;
  background-color: rgba(59, 59, 59, 1);

  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 250px;
  padding: 20px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 0px 16px 0px rgba(0, 0, 0, 0.08);
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.logoButton {
  padding: 0;
}

.logoButton:hover
.logoButton:active {
  background-color: transparent;
}

.menuButton {
  background-color: transparent;
}

.divider {
  width: 19px;
  height: 1px;
  
  border-color: rgba(255, 255, 255, 0.2);
}

.header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 11px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.footer {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
}