* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100%;
  
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  width: 100vw;
}

main {
  padding: 40px 0;
  width: 100%;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.03);
}

